/*  MICROTHEMER STYLES  */


/*= Geral ===================== */

/** Geral >> Uagb block 027a1ada 2888 4479 9542 a762466b82ad uagb column overlay **/
.uagb-block-027a1ada-2888-4479-9542-a762466b82ad > .uagb-column__overlay {
	
}

/** Geral >> Quadros serviços hover **/
.uagb-column__background-color .uagb-column__inner-wrap:hover {
	box-shadow: 0 0 50px rgb(43, 178, 164) inset !important;
}


/*= Rodapé =================== */

/** Rodapé >> Colophon ast footer overlay **/
#colophon .ast-footer-overlay {
	background-image: linear-gradient(0deg, rgb(136, 217, 199), rgb(255, 255, 255)) !important;
}


/*( Tablet & celular )*/
@media (max-width: 767px) {

	/*= Geral ===================== */

	/** Geral >> Foto(Sobre nós) **/
	#post-37 .uagb-block-34023db9-858c-45e2-b40b-6ca4b0a74315 {
	width: 0 !important;
	height: 0 !important;
}


}

